'menu': [
  {
    'label': 'Titanium'
    'submenu': [
        {
          'label': 'New'
          'submenu': [
            {
              'label': 'Project'
              'command': 'ti-create:project'
            }
            {
              'label': 'Controller'
              'command': 'ti-create:controller'
            }
            {
              'label': 'Widget'
              'command': 'ti-create:widget'
            }
          ]
        }
      ]
    }
]
